body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 0, 0);
}
.mentor{
    height: 100;
    background-color: rgb(247, 119, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}