body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 33;
    color: rgb(19, 123, 241);
    padding: 33;
    color: rgb(19, 123, 241);
    border: 33;
    color: rgb(19,123, 241);
}